[Desktop Entry]
Version=1.1
Name=Pardus Home Page
Comment=The official web site of the Pardus Project
Icon=emblem-pardus
Type=Link
URL=https://www.pardus.org.tr

