[Desktop Entry]
Version=1.1
Name=Pardus Security Updates
Comment=Learn about new fixed packages
Icon=/usr/share/pixmaps/pardus-security.png
Type=Link
URL=https://www.pardus.org.tr
