[Desktop Entry]
Name=Dolunay
X-KDE-PluginInfo-Name=Dolunay
X-KDE-PluginInfo-Author=Çağrı Gökçe
X-KDE-PluginInfo-Email=cagri.gokce@pardus.org.tr
X-KDE-PluginInfo-License=GPLv2+
